.block {
    display: block;
}

.container {
    border: 5px solid white;
    background-color: #22272a;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.wrapper-add {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
    width: 100%;
    margin-bottom: 5rem;
}

.align {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .mobile{
        display: none;
    }
}
