<div class="wrapper">
  <div class="content">
    <div>
      <button class="btn btn-study-cave float-right mr-1" [routerLink]="['/groups/', id]"><i class="fas fa-arrow-left"></i> Powrót</button>
      <div style="clear: both;"></div>
    </div>
    <h1>Twoja historia aktywności</h1>
    <br />
    <div>
      <p>Filtrowanie i sortowanie:</p>
      <div>
        <div>
          <label><p style="margin-bottom: 0;">Sortowanie</p>
            <select [(ngModel)]="sort">
              <option value="asc">od najnowszych zdarzeń</option>
              <option value="desc">od najstarszych zdarzeń</option>
            </select>
          </label>
        </div>
        <br />
        <div>
          <label><p>Przedział czasu</p>
            <mat-form-field>
              <input matInput [max]="maxDate" [matDatepicker]="picker1" placeholder="Początek" [formControl]="dateStart">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <input matInput [max]="maxDate" [matDatepicker]="picker2" placeholder="Koniec" [formControl]="dateEnd">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </label>
        </div>
        <button class="btn btn-study-cave" (click)="getHistory()">Pokaż</button>
      </div>
    </div>
    <br /><br />
    <div>
      <div>
        <p *ngFor="let activity of activityHistory">
          <span>{{ activity.date }} </span>
          <span *ngIf="activity.from">{{ activity.from }} 
            <span *ngIf="activity.type === 'acceptedResource'">
              zatwierdził dodany przez Ciebie 
              <span *ngIf="activity.typeOfResource === 'test'">test </span>
              <span *ngIf="activity.typeOfResource === 'material'">materiał </span>
              <span *ngIf="activity.typeOfResource === 'flashcards'">zestaw fiszek </span>
              <span><b>{{ activity.nameOfResource }}</b>. </span>
              <span *ngIf="activity.points === 0">Nie przyznał Ci za to punktów.</span>
              <span *ngIf="activity.points !== 0">Przyznał Ci za to 
                {{ activity.points }} pkt.
              </span>
            </span>
            <span *ngIf="activity.type === 'rejectedResource'">
              odrzucił dodany przez Ciebie 
              <span *ngIf="activity.typeOfResource === 'test'">test </span>
              <span *ngIf="activity.typeOfResource === 'material'">materiał </span>
              <span *ngIf="activity.typeOfResource === 'flashcards'">zestaw fiszek </span>
              <span><b>{{ activity.nameOfResource }}</b>. </span>
            </span>
            <span *ngIf="activity.comment">
              Otrzymałeś komentarz od lidera grupy:
              <i>{{ activity.comment }}</i>
            </span>
          </span>
          <span *ngIf="!activity.from">
            <span *ngIf="activity.type === 'solvedTest'">otrzymałeś 
              <span>{{ activity.points }} pkt</span> za test 
              <span><b>{{ activity.nameOfResource }}</b>.</span>
            </span>
            <span *ngIf="activity.type === 'addedResource'">
              dodałeś do grupy <span>{{ activity.to }} </span> 
              <span *ngIf="activity.typeOfResource === 'test'">test </span>
              <span *ngIf="activity.typeOfResource === 'material'">materiał </span>
              <span *ngIf="activity.typeOfResource === 'flashcards'">zestaw fiszek </span>
              <span><b>{{ activity.nameOfResource }}</b>. </span>
              Obecnie czeka na przegląd przez lidera grupy.
            </span>
          </span>
          <span></span>
        </p>
      </div>
    </div>
  </div>
</div>
