<div class="wrapper">
  <div class="content">
    <div>
      <button class="btn btn-grey float-right mr-1" [routerLink]="['/groups/', id]">Powrót</button>
      <div style="clear: both;"></div>
    </div>
    <h1>Dodawanie zasobów do grupy</h1>
    <br />
    <div>
      <p>Wybierz typ zasobu do dodania:</p>
      <div>
        <button [disabled]="materialsToAdd.length > 0" class="btn btn-blue mr-1" (click)="getMaterialsToAdd()">Materiały</button>
        <button [disabled]="flashcardsToAdd.length > 0" class="btn btn-purple mr-1" (click)="getFlashcardsToAdd()">Fiszki</button>
        <button [disabled]="testsToAdd.length > 0" class="btn btn-red mr-1" (click)="getTestsToAdd()">Testy</button>
      </div>
    </div>
    <br /><br />
    <div>
      <h2 *ngIf="materialsToAdd.length > 0">Materiały</h2>
      <h2 *ngIf="flashcardsToAdd.length > 0">Fiszki</h2>
      <h2 *ngIf="testsToAdd.length > 0">Testy</h2>
      <div>
        <!-- TODO: Masowe dodawanie zasobów do grupy na podstawie wybranego typu zasobu -->
      </div>
    </div>
  </div>
</div>
