.description {
    background-color: #22272a;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: left;

}

.container {
    background-color: #121618;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.wrapper-description {
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 4rem;
}

.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
}

.content{
    background-color: #121618;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ag-grid-angular{
    margin: 10px;
}

.buttons-container > div{
    margin: 10px;
}