<div class="wrapper" id="header">
  <div class="logo-and-name" routerLink="/home">
    <img class="logo" src="./assets/logo.png" alt="error">
    <div class="study-cave">
      <span class="study">Study</span><span class="cave">Cave</span>
    </div>
  </div>
  <div class="menu">
    <a routerLink="/materials/list">Materiały</a>
    <a routerLink="/tests">Testy</a>
    <a routerLink="/work-in-progress">Grupy</a>
    <a routerLink="/work-in-progress">Szukaj</a>
    <div class="log-reg-container" *ngIf="!isLogin">
      <a routerLink="/login">Logowanie</a>
      <a routerLink="/sign-up">Rejestracja</a>
    </div>
    <div class="log-reg-container" *ngIf="isLogin">
      <a (click)="navToProfile()">Profil</a>
      <a (click)="logout()">Wyloguj</a>
    </div>

  </div>
</div>