<div class="wrapper" id="header">
  <div class="logo-and-name" routerLink="/home">
    <img src="./../assets/logo.png" alt="error">
    <div class="study-cave">
      <span class="study">Study</span><span class="cave">Cave</span>
    </div>
  </div>
  <div class="menu">
    <a routerLink="/flashcards/sets">Materiały</a>
    <a routerLink="/test-maker">Testy</a>
    <a routerLink="/flashcards/sets">Grupy</a>
    <a routerLink="/flashcards/sets">Szukaj</a>
    <div class="log-reg-container">
      <a routerLink="/login">Logowanie</a>
      <a routerLink="/sign-up">Rejestracja</a>
    </div>

  </div>
</div>