<div class="wrapper" id="header">
  <div class="logo-and-name" routerLink="/home">
    <img class="logo" src="./assets/logo.png" alt="error">
    <div class="study-cave">
      <span class="study">Study</span><span class="cave">Cave</span>
    </div>
  </div>
  <div class="menu">
    <a routerLink="/materials/list"><i class="fas fa-book-open"></i> Materiały</a>
    <a routerLink="/tests"><i class="fas fa-pencil-ruler"></i> Testy</a>
    <a routerLink="/my-groups"><i class="fas fa-users"></i> Grupy</a>
    <div class="log-reg-container" *ngIf="!isLogin">
      <a routerLink="/login" class="y-background"><i class="fas fa-sign-in-alt"></i> Logowanie</a>
      <a routerLink="/sign-up"><i class="fas fa-user-plus"></i> Rejestracja</a>
    </div>
    <div class="log-reg-container" *ngIf="isLogin">
      <a (click)="navToProfile()"><i class="fas fa-user-circle"></i> Profil</a>
      <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
    </div>

  </div>
</div>