.centerMargin{
    margin: 0 auto;
}

input:invalid{
    border-color: red;
}

input:valid{
    border-color: green;
}

input.ng-untouched {
    border-color: rgb(206, 212, 218);
}

.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
}

.content{
    background-color: #181616;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}