<div class="wrapper">
  <div class="content">
    <h4 class="text-gray mb-4 centerMargin">Rejestracja</h4>
    <div *ngIf="registerStatus" class="alert alert-success">Rejestracja udana!</div>
    <div *ngIf="invalidPassword" class="alert alert-danger">Hasła muszą być takie same.</div>
    <div *ngIf="invalidRegister" class="alert alert-danger">{{errorMessage}}</div>
    <form *ngIf="!registerStatus" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" ngNativeValidate>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 centerMargin">
          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="text" placeholder="Login" class="form-control input-lg" pattern="[a-zA-Z0-9]*" name="login" ngModel required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="password" placeholder="Hasło" class="form-control input-lg" minlength="6" maxlength="16" name="password" ngModel required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="password" placeholder="Potwierdź hasło" class="form-control input-lg" minlength="6" maxlength="16" name="password2" ngModel
                  required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="email" placeholder="E-mail" class="form-control input-lg" name="email" ngModel required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="text" pattern="[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]*" placeholder="Imię" class="form-control input-lg" name="name" ngModel
                  required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="form-group">
              <div>
                <input type="text" pattern="[a-zA-ZżźćńółęąśŻŹĆĄŚĘŁÓŃ]+" placeholder="Nazwisko" class="form-control input-lg" name="surname"
                  ngModel required/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6 centerMargin">
            <div class="row">
              <button type="submit" class="btn btn-study-cave centerMargin"><i class="fas fa-check-circle"></i> Zarejestruj się</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>