.content{
    width: 100%;
    position: fixed;
    margin-top: 120px;
    max-width: 100%;
    overflow: auto;
    height: 80%;
    min-height: calc(100% - 120px);
}

.wrapper{
    overflow: auto;
}

@media screen and (max-width: 800px) {
    .content{
        margin-top: 170px;
        min-height: calc(100% - 170px);
    }
}