<div class="content">
<div id="container-small">
  <h4>Uzupełnianie fiszek</h4>
  <br />
  <div>
    <b>Nazwa zestawu: </b>
    <i>{{ name }}</i>
    <br />
    <b>Kategoria: </b>
    <i>{{ category }}</i>
  </div>
  <div *ngIf="started">
    <div>
      <div>
        <b>Uzupełniono: </b>
        <span> {{ filled }} z {{ length_test }} fiszek</span>
      </div>
      <div>
        <b>Poprawnych odpowiedzi: </b>
        <span> {{ good }} na {{ length_test }}</span><br />
        <b>Złych odpowiedzi: </b>
        <span> {{ bad }} na {{ length_test }}</span>
      </div>
    </div>
  </div>
</div>
<div id="container-large">
    <div *ngIf="started">
    <div *ngIf="this.filled >= 1 && !finish">
    
      Poprzednia odpowiedź:<br />
      {{flashcards[index-1].content}} {{allAnswers[index-1].answer}}
    </div>
    <div *ngIf="this.filled < this.length_test && !finish ">
      Podaj odpowiedź:<br />
      {{flashcards[index].content}}
      <input appAutofocus [(ngModel)]="answer" placeholder="odpowiedź" (keyup.enter)="verifyAnswer()" >
      <button class="btn btn-success" (click)="verifyAnswer()">SPRAWDŹ</button>
    </div>
    <div *ngIf="this.is_correct === true && !finish">ODPOWIEDŹ POPRAWNA</div>
    <div *ngIf="this.is_correct === false && !finish">ODPOWIEDŹ NIEPOPRAWNA</div>
    <div *ngIf="this.filled < this.length_test-1 && !finish">
      Następne pytanie:<br />
      {{flashcards[index+1].content}}
    </div>
  </div>


  <div *ngIf="finish">
    <app-test-results [result]="good" [maxPts]="length_test"></app-test-results>
  </div>
  <div *ngIf="!finish">
    <button class="btn btn-primary" *ngIf="!started" (click)="start()">Rozpocznij test</button>
  </div>
  <button class="btn btn-primary" *ngIf="finish" routerLink="/flashcards/sets/{{ id }}">Zakończ test</button>
  <button class="btn btn-primary" *ngIf="started && !finish && !not_last"(click)="finished()">Przejdź do wyniku</button>
  <br />
  <button class="btn btn-danger" routerLink="/flashcards/sets/{{ id }}">Wróć do zestawu</button>
</div>
