<div class="wrapper">
  <div class="content">
    <!-- TODO: DELETE THIS STUFF DOWN -->
    ---
    <p>JUST FOR DEVELOP PURPOSE</p>
    ---
    <app-group-details></app-group-details>
    <!--  -->
    <h1>GRUPY</h1>
    <br />
    <div class="buttons-container">
      <div>
        <button class="btn btn-green" (click)="toGroupMaker()">Dodaj grupę</button>
      </div>
    </div>
    <br />
    <ag-grid-angular style="width: 100%; height: 475px;" class="ag-theme-blue" [rowData]="groups" [columnDefs]="columnDefs"
      [enableSorting]="true" [enableFilter]="true" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions"
      [pagination]="true" [paginationAutoPageSize]="true" (rowClicked)="onRowClicked($event)" [localeText]="localeText" 
      (gridColumnsChanged)="onGridColumnsChanged($event)" (gridSizeChanged)="onGridSizeChanged($event)">
    </ag-grid-angular>
  </div>
</div>
