<div class="alert alert-grey question">
  {{question.question}} ({{question.points}}pkt.)

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-study-cave mr-2" (click)="chooseAnswer('Prawda')">
      <input type="radio" name="options" id="option1" autocomplete="off"> Prawda
    </label>
    <label class="btn btn-study-cave" (click)="chooseAnswer('Fałsz')">
      <input type="radio" name="options" id="option2" autocomplete="off"> Fałsz
    </label>
  </div>
</div>

<button class="btn btn-study-cave" (click)="nextQuestion()"><i class="fas fa-arrow-right"></i> Dalej</button>