<div class="alert alert-primary question">
  {{question.question}} ({{question.points}}pkt.)

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-success" (click)="chooseAnswer('Prawda')">
      <input type="radio" name="options" id="option1" autocomplete="off"> Prawda
    </label>
    <label class="btn btn-danger" (click)="chooseAnswer('Fałsz')">
      <input type="radio" name="options" id="option2" autocomplete="off"> Fałsz
    </label>
  </div>
</div>

<button class="btn btn-brown" (click)="nextQuestion()">Dalej</button>