.puzzle{
    display: flex;
    min-height: 50px;
    min-width: 100px;
    background-color: rgb(206, 168, 86);
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.puzzle:hover{
    border: 3px solid gray;
}

.active{
    border: 3px solid white;
}

.puzzles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.empty{
    background-color: gray;
    cursor: not-allowed;
}
