<div class="wrapper">
    <div class="wrapper-add">
      <div class="container">
        <h2>Tworzenie testu</h2>
        <br />
        <label>
          <p>Wprowadź nazwę dla testu:</p>
          <input type="text" name="title" class="form-control" [(ngModel)]="title" required />
        </label>
        <br />
        <div *ngIf="!trueFalse && !singleChoice && !multipleChoice">
          <h4>Wybierz rodzaj pytania:</h4>
          <button class="btn btn-primary" (click)='show("true-false")'>Prawda/fałsz</button>
          <button class="btn btn-success" (click)='show("single-choice")'>Jednokrotny wybór</button>
          <button class="btn btn-danger" (click)='show("multiple-choice")'>Wielokrotny wybór</button>
        </div>
        <div *ngIf="shown">
          <app-true-false-question *ngIf="trueFalse && (nr == 0)"
            (add)="onAdd($event)" [edit]="false" [content]="{}"></app-true-false-question>
          <app-single-choice-question *ngIf="singleChoice && (nr == 0)"
            (add)="onAdd($event)" [edit]="false" [content]="{}"></app-single-choice-question>
          <app-multiple-choice-question *ngIf="multipleChoice && (nr == 0)"
            (add)="onAdd($event)" [edit]="false" [content]="{}"></app-multiple-choice-question>
        </div>
        <br />
        <div *ngIf="test.length != 0">
          <h3 *ngIf="!componentVisible">Dodane pytania: </h3>
          <br />
          <table class="table">
            <thead *ngIf="!componentVisible">
              <tr>
                <th>Lp.</th>
                <th>Typ</th>
                <th class="mobile">Pytanie</th>
                <th>Usuń</th>
                <th class="mobile">Przenieś</th>
              </tr>
            </thead>
            <tbody style="cursor: pointer;" *ngFor="let question of test">
              <tr *ngIf="!componentVisible">
                <td (click)='showComponents(question.content.type, question.nr)'>{{ question.nr }}</td>
                <td (click)='showComponents(question.content.type, question.nr)'
                    *ngIf='question.content.type == "true-false"'>Prawda/fałsz</td>
                <td (click)='showComponents(question.content.type, question.nr)'
                    *ngIf='question.content.type == "single-choice"'>Jednokrotny wybór</td>
                <td (click)='showComponents(question.content.type, question.nr)'
                    *ngIf='question.content.type == "multiple-choice"'>Wielokrotny wybór</td>
                <td (click)='showComponents(question.content.type, question.nr)'
                    class="mobile">{{ question.shortcut }}</td>
                <td><button class="btn btn-danger" (click)="delete(question.nr)">Usuń</button></td>
                <td class="mobile">
                  <button *ngIf="question.nr != 1" class="btn btn-success" (click)="moveUp(question.nr)">Góra</button>
                  <button *ngIf="question.nr != test.length" class="btn btn-warning" (click)="moveDown(question.nr)">Dół</button>
                  <span (click)='showComponents(question.content.type, question.nr)'
                        *ngIf="(question.nr == 1) && (question.nr == test.length)" >---</span>
                </td>
              </tr>
              <tr *ngIf="componentVisible && (nr == question.nr)">
                <td colspan="5">
                  <app-true-false-question *ngIf='trueFalse && (question.content.type == "true-false") && (nr == question.nr)'
                    (editing)="onAdd($event)" [edit]="true" [content]="test[question.nr - 1]"></app-true-false-question>
                  <app-single-choice-question *ngIf='singleChoice && question.content.type == "single-choice" && (nr == question.nr)'
                    (editing)="onAdd($event)" [edit]="true" [content]="test[question.nr - 1]"></app-single-choice-question>
                  <app-multiple-choice-question *ngIf='multipleChoice && question.content.type == "multiple-choice" && (nr == question.nr)'
                    (editing)="onAdd($event)" [edit]="true" [content]="test[question.nr - 1]"></app-multiple-choice-question>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />
        <br />
        <div *ngIf="(test.length != 0) && (!componentVisible)" >
          <button class="btn btn-primary" (click)="save()">Dodaj test!</button>
          <button class="btn btn-danger ml-2" routerLink="/">Powrót</button>
        </div>
        <button *ngIf="!((test.length != 0) && (!componentVisible))" class="btn btn-danger" routerLink="/">Powrót</button>
      </div>
    </div>
</div>
