label {
    display: block;
}

.container {
    background-color: #121618;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.wrapper-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 4rem;
}

.wrapper {
    width: 100%;
    padding: 30px;
    margin-bottom: 5rem;
}

.btn {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.table td {
    border-top-width: 0;
}

.flexrow {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .mobile{
        display: none;
    }
}
