.wrapper{
    height: 100%;
}

.top-section{
    min-height: 40%;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.title{
    font-size: 48px;
}

.text-content{
    font-size: 24px;
}

.yellow-font{
    color: rgb(206, 168, 86);
}

.bottom-section{
    font-size: 20px;
    box-sizing: border-box;
    min-height: 60%;
    width: 100%;
    padding: 36px;
    padding-top: 20px;
    padding-bottom: 64px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    background-color: rgb(24, 22, 22);
    max-width: 90%;
    margin: 0 auto;
    line-height: 200%;
}

img{
    width: 250px;
    height: auto;
    align-self: center;
    margin: 10px;
}

.images{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    color: rgb(206, 168, 86);
    font-weight: bold;
    padding: 50px 0;
}

@media screen and (max-width: 800px) {

    h2{
        background-size: auto 100%;
    }

    .bottom-section{
        display: block;
        padding-bottom: 20px;
    }

    .top-section{
        width: 100%;
        padding: 70px 0;
    }
}

@media screen and (max-width: 440px) {
    .title {
        font-size: 36px;
    }
}
