<div class="wrapper">
  <div class="top-section">
    <h1 class="title">Platforma
      <span class="blue-font">e-learningowa</span> dla uczniów i nauczycieli</h1>
    <span class="text-content">Witamy w naszej platformie e-learningowej stworzonej z myślą o uczniach i nauczycielach. Tutaj znajdziesz materiały oraz testy do nauki z wielu przedmiotów, jak również minigry oparte na materiałach.</span>

  </div>
  <div class="bottom-section">
    <div class="left">
      <h2>Dla uczniów</h2>
      <div class="paragraph">
        <div class="image">
          <img src="./assets/study1.jpg" alt="error" height="200"> Nauka jest dla Ciebie raczej przykrym obowiązkiem niż ciekawym zajęciem? Masz trudności z zapamiętywaniem lub
          nie znalazłeś jeszcze swojej metody na przyswajanie wiedzy? Oferujemy Ci ogromny wybór metod i materiałów, zaczynając
          od tworzenia i przeglądania fiszek, aż do testów prawda-fałsz i tych wielokrotnego wyboru. Dbamy o różnorodność
          oferowanych Ci metod, więc ponadto możesz wybierać też spośród gry memory, uzupełniania luk w tekście, rozsypanki
          wyrazowej i łączenia w pary.
        </div>
      </div>
      <div class="paragraph">
        <div class="image">
          <img src="./assets/study2.jpg" alt="error" height="200"> Naszym celem jest wspomaganie Twojej nauki i pokazanie Ci, że nie taki diabeł straszny - oderwij się na chwilę
          od czytania w kółko jednego rozdziału i usiłowania zapamiętać wszystkiego, co tam napisano. Gwarantujemy świetną
          zabawę i miłe urozmaicenie. Dlaczego warto skorzystać akurat z naszej platformy? Według zasady: uczniowie uczniom.
          Rozumiemy was i wiemy najlepiej, że na naukę nie zawsze jest czas i chęć. A może te chęci pojawią się gdy spróbujecie
          nieco innej metody? Czy nie warto dać sobie szansy na poprawę swoich wyników i wzbogacenie wiedzy? Niezależnie
          od tego, czy masz lat -naście czy -dziesiąt, uczysz się przez całe życie.
        </div>
      </div>
    </div>
    <div class="right">
      <h2>Dla nauczycieli</h2>
      <div class="paragraph">
        <div class="image">
          <img src="./assets/study3.jpg" alt="error" height="200"> Szukają Państwo miejsca gdzie można przygotować interaktywne testy lub materiały dla uczniów? Te miejsce jest
          do tego idealne. Oferujemy dużą różnorodność zadań, które mogą być dostosowane do wielu przedmiotów. Nasze zasoby
          pozwolą uczniom łątwiej przyswoić wiedzę i przygotować się do sprawdzianów. Nasza strona jest przystosowana również
          do urządzeń mobilnych, więc w łatwy sposób można korzystać z niej w każdym miejscu.
          Mają Państwo możliwość stworzyć własne testy i materiały, jak również skorzystania z publicznych dóbr stworzonych przez innych użytkowników.
          Zaawansowane narzędzia szukania pozwolą w łatwy sposób znaleźć to czego Państwo potrzebują. Mamy nadzieję, że nasza platforma ułatwi proces przygotowywania testów i materiałów oraz nada im ciekawą formę.
          Nam też zależy, żeby nauka była dla uczniów czymś przyjemnym i żeby Państwa praca przynosiła jak najlepsze efekty.
        </div>
      </div>
    </div>
  </div>
</div>