.wrapper{
    height: 100%;
}

.top-section{
    min-height: 40%;
    width: 60%;
    color: white;
    padding: 50px 40px;
}

.title{
    font-size: 48px;
}

.text-content{
    font-size: 18px;
}

.blue-font{
    color: #00b0f9;
}

.bottom-section{
    box-sizing: border-box;
    background-color: #00b0f9;
    min-height: 60%;
    width: 100%;
    border-top: 5px solid white;
    padding: 20px;
    padding-top: 10px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: row;
}

img{
    float: left;
    border: 5px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

.left{
    display: inline-block;
    width: 50%;
    padding-right: 10px;
}

.right{
    display: inline-block;
    width: 50%;
    padding-left: 10px;
}

.paragraph{
    padding-top: 10px;
    display: block;
    clear: both;
}

@media screen and (max-width: 800px) {
    .left{
        display: block;
        width: 100%;
        padding-right: 0px;
    }

    .right{
        display: block;
        width: 100%;
        padding-left: 0px;
    }

    .bottom-section{
        display: block;
        padding-bottom: 20px;
    }

    .top-section{
        width: 100%;
    }
}