
<div class="wrapper">
    <div class="content">
      <app-materials-menu></app-materials-menu>
      <br />
      <h1>MATERIAŁY</h1>
      <br />
      <div class="buttons-container">
        <div *ngIf="logged">
          <button class="btn btn-study-cave" (click)="toMaterialsMaker()"><i class="fas fa-plus"></i> Dodaj materiały</button>
        </div>
        <div *ngIf="logged" class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-study-cave active" (click)="ShowPublic()">
            <input type="radio" name="options" id="option1" autocomplete="off" checked><i class="fas fa-globe"></i> Publiczne
          </label>
          <label class="btn btn-study-cave" (click)="ShowPrivate()">
            <input type="radio" name="options" id="option2" autocomplete="off"><i class="fas fa-user-secret"></i> Prywatne
          </label>
        </div>
      </div>
      <br />
      <ag-grid-angular style="width: 100%; height: 475px;" class="ag-theme-dark" [rowData]="mats" [columnDefs]="columnDefs" [enableSorting]="true"
      [enableFilter]="true" (gridReady)="onGridReady($event)" (gridSizeChanged)="onGridSizeChanged($event)" [gridOptions]="gridOptions"
      [pagination]="true" [paginationAutoPageSize]="true" (rowClicked)="onRowClicked($event)" [localeText]="localeText" 
      (gridColumnsChanged)="onGidColumnsChanged($event)">
    </ag-grid-angular>

    </div>
  </div>
