<div class="wrapper">
    <div class="content">
        <div>
            <button class="btn btn-study-cave" (click)="goBack()"><i class="fas fa-check-circle"></i> POWRÓT</button>
            <div>
                MATERIAŁY: {{title}} <br />
                WŁAŚCICIEL: {{own}} <br />
                UPRAWNIENIA: {{perm}} <br />
            </div>
            <br />
            <a [href]="serverURL+id"><button class="btn btn-study-cave"><i class="fas fa-check-circle"></i> POBIERZ</button></a>
            <div *ngIf="user && owned">
                <button class="btn btn-study-cave" (click)="openPopup()"><i class="fas fa-trash-alt"></i> USUŃ</button>
                <button class="btn btn-study-cave" (click)="changePermission()"><i class="fas fa-check-circle"></i> ZMIEŃ UPRAWNIENIA</button>
            </div>
        </div>
        <app-comments [what]="'materials'"></app-comments>
    </div>
    <p-dialog header="Potwierdź" [(visible)]="display">
        Czy chcesz usunąć materiał?
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="deleteMat()" label="TAK"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="NIE" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</div>