.listItem:hover {
    background-color: #00B0F9;
}

.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
}

.btn{
    margin-bottom: 5px;
}

.content{
    border: 5px solid white;
    background-color: #121618;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}