<div class="wrapper">
    <div class="content">
        <div>
            <button class="btn btn-study-cave" routerLink="/materials/list/">WRÓĆ DO LISTY</button>
            <div>
                MATERIAŁY: {{title}} <br />
                WŁAŚCICIEL: {{own}} <br />
                UPRAWNIENIA: {{perm}} <br />
            </div>
            <br />
            <a [href]="serverURL+id"><button class="btn btn-study-cave">POBIERZ</button></a>
            <div *ngIf="user && owned">
                <button class="btn btn-study-cave" (click)="openPopup()">USUŃ</button>
                <button class="btn btn-study-cave" (click)="changePermission()"> ZMIEŃ UPRAWNIENIA</button>
            </div>
        </div>
        <app-comments [what]="'materials'"></app-comments>
    </div>
    <p-dialog header="Potwierdź" [(visible)]="display">
        Czy chcesz usunąć materiał?
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="deleteMat()" label="TAK"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="NIE" class="ui-button-secondary"></button>
        </p-footer>
    </p-dialog>
</div>