h2 {
    text-align: center;
    font-weight: 900;
}

.clickable {
    cursor: pointer;
}

.card {
    color: white;
    background-color: gray;
    text-align: center;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    transition: color 1000ms;
}

.card-invisible {
    font-size: 2.5rem;
}

.card-visible {
    font-size: 1.5rem;
}