<div class="wrapper">
  <div class="content">
    <h1>Dołącz do grupy!</h1>
    <p>Wpisz kod dostepu, aby dołączyć do grupy.</p>
    <div class="ui-message ui-widget ui-corner-all ui-message-error" *ngIf="isCodeWrong">{{errorMessage}}</div>
    <div class="ui-message ui-widget ui-corner-all ui-message-success" *ngIf="reditectToGroup">Dołączyłeś do grupy, przekierowanie do niej nastąpi za 3 sekundy.</div>
    <form class="join-to-group-form" #f="ngForm" (ngSubmit)="joinToGroup(f.value)" *ngIf="!reditectToGroup">
      <input type="text" name="code" class="form-control join-to-group-form-item" placeholder="Kod dostępu" ngModel required/>
      <button type="submit" class="btn btn-study-cave join-to-group-form-item" [disabled]="f.form.invalid"><i class="fas fa-check-circle"></i> Dołącz!</button>
    </form>
  </div>
</div>