.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
}

.content{
    background-color: #121618;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.join-to-group-form-item{
    margin-bottom: 10px;
}

.join-to-group-form{
    margin-top: 10px;
}