<div class="wrapper">
    <div class="content">
            <div class="buttons-container">
                <button class="btn btn-study-cave" routerLink="/flashcards/sets"><i class="fas fa-arrow-left"></i> WRÓĆ DO LISTY</button>
                <button class="btn btn-study-cave" routerLink="/flashcards/add/table"><i class="fas fa-arrow-left"></i> DODAJ ZA POMOCĄ TABELI</button>
                <button class="btn btn-study-cave" routerLink="/flashcards/add/csv"><i class="fas fa-file-csv"></i> DODAJ ZA POMOCĄ CSV</button>
            </div>
    </div>
</div>