.listItem:hover {
    background-color: rgb(206, 168, 86);
}

.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
}

.btn{
    margin-bottom: 5px;
}

.content{
    background-color: #181616;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.buttons-container > div{
    margin: 10px;
}

.puzzle{
    min-height: 50px;
    min-width: 100px;
    background-color: rgb(206, 168, 86);
    align-items: center;
    color: black;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.puzzle-right{
    min-height: 50px;
    min-width: 100px;
    color: black;
    background-color: rgb(202, 144, 17);;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.both-sides{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.puzzles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.empty{
    background-color: gray;
    cursor: not-allowed;
}

