.listItem:hover {
    background-color: #00B0F9;
}

.wrapper{
    width: 100%;
    padding: 20px;
    min-height: 100%;
}

.btn{
    margin-bottom: 5px;
}

.content{
    border: 5px solid white;
    background-color: #00293A;
    padding: 20px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.buttons-container > div{
    margin: 10px;
}

.puzzle{
    min-height: 50px;
    min-width: 100px;
    background-color: #00b0f9;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.puzzle-right{
    min-height: 50px;
    min-width: 100px;
    background-color: #007bff;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

.both-sides{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.puzzles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.empty{
    background-color: gray;
    cursor: not-allowed;
}

