<div class="wrapper">
    <div class="content">
        <div class="button-container">
            <button class="btn btn-primary" routerLink="/flashcards/sets/">WRÓĆ DO LISTY</button>
            <button class="btn btn-primary" (click)="showTestTypeMenu()">GENERUJ TESTY</button>
            <button class="btn btn-success" (click)="navigateToEditMode()">EDYTUJ FISZKI</button>
            <button class="btn btn-danger" (click)="deleteSet()">USUŃ FISZKI</button>
            <div *ngIf="user && owned">
                    <button class="btn btn-danger" (click)="changePermission()"> ZMIEŃ UPRAWNIENIA</button>
            </div>
        </div>

        <app-flashcards-test-type-menu [id]="id" (cancel)="handleCancelFlashcardsTestyTypeMenu($event)" *ngIf="testTypeMenu"></app-flashcards-test-type-menu>
        <br />
        <div *ngIf="set">
                <h2>{{set.name}}</h2>
                <table class="table">
                    <thead>
                        <th>
                            Lewa strona
                        </th>
                        <th>
                            Prawa strona
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flashcard of set.flashcards; let i = index">
                            <td class="puzzle">{{flashcard.left_side}}</td>
                            <td class="puzzle-right">{{flashcard.right_side}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>