body{
    margin: 0 auto;
    background-image: url("./assets/background.jpg");
    background-color: #000000;
    background-position: center top; 
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn{
    cursor: pointer;
}

@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-blue.css";

.ag-header-cell-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-paging-page-summary-panel{
    color: #00b0f9;;
    display: inline-block;
    white-space: nowrap;
}

.ag-paging-row-summary-panel{
    color: #00b0f9;
}

/* @media screen and (max-width: 800px) {
.hide{
    display: none;
}
} */

.btn, div, button, input, label {
    border-radius: 0 !important;
}

.ag-theme-blue {
    margin: 0 !important;
}

.container {
    max-width: 100% !important;
    margin: 2rem auto !important;
}
