@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-dark.css";
body{
    margin: 0 auto;
    background-color: #272324;
    background-size: 100% auto;
    background-image: url("./assets/cave1.jpg");
    background-position: center top; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btn{
    cursor: pointer;
}

.ag-header-cell-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-cell{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ag-paging-page-summary-panel{
    color: #00b0f9;;
    display: inline-block;
    white-space: nowrap;
}

.ag-paging-row-summary-panel{
    color: #00b0f9;
}

/* @media screen and (max-width: 800px) {
.hide{
    display: none;
}
} */

.btn, div, button, input, label {
    border-radius: 0 !important;
}

.ag-theme-dark {
    margin: 0 !important;
}

.container {
    max-width: 100% !important;
    margin: 2rem auto !important;
}

.btn-green {
    color: #fff;
    background-color: #082d05;
    border-color: #28a745;
}

.btn-green:hover {
    border-color: #1e7e34;
}

.btn-blue {
    color: #fff;
    background-color: #05182c;
    border-color: #007bff;
}

.btn-blue:hover {
    border-color: #0062cc;
}

.btn-purple {
    color: #fff;
    background-color: #200630;
    border-color: #9b7cc8;
}

.btn-purple:hover {
    border-color: #946baa;
}

.btn-red {
    color: #fff;
    background-color: #3f1010;
    border-color: #dc3545;
}

.btn-red:hover {
    border-color: #bd2130;
}

.btn-grey {
    color: #fff;
    background-color: #20222a;
    border-color: #838383;
}

.btn-grey:hover {
    border-color: #666;
}

.btn-brown {
    color: #fff;
    background-color: #291405;
    border-color: #8d6b28;
}

.btn-brown:hover {
    border-color: #7b5913;
}

.btn-blue:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.5);
}

.btn-green:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 .2rem rgba(6, 87, 10, 0.5);
}

.btn-red:not([disabled]):not(.disabled).active {
    box-shadow: 0 0 0 .2rem rgba(155, 14, 14, 0.5);
}

.alert-grey {
    background-color: #22272a;
}
