.block {
    display: block;
}

.container {
    border-radius: 25px;
    border: 5px solid white;
    background-color: #00293A;
    padding: 20px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.wrapper-add {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 4rem;
}

.wrapper {
    width: 100%;
    margin-bottom: 5rem;
}
