#container-small {
    border: 5px solid white;
    background-color: #121618;
    padding: 30px; 
    width: 25%;
    height: 400px; 
    margin: 25px;
    float:left;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
.content{
    position:fixed;
    width:100%;
    box-sizing: border-box;  
    max-width: 100%;
}
#container-large {
    border: 5px solid white;
    background-color: #121618;
    padding: 30px; 
    width: 65%;
    height: 400px; 
    margin: 25px;
    float: right;
    box-sizing: border-box;    
    position: relative;
    text-align: center;
}

.title{
    font-size: 48px;
}

.text-content{
    font-size: 18px;
}

.puzzle{
    display: flex;
    min-height: 50px;
    min-width: 100px;
    background-color: #00b0f9;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 5px;
    cursor: pointer;
}

.puzzle-right{
    display: flex;
    min-height: 50px;
    min-width: 100px;
    background-color: #007bff;
    align-items: center;
    justify-content: center;
    margin: 5px 5px 5px 0;
}

.both-sides{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.puzzle:hover{
    border: 3px solid gray;
}

.active{
    border: 3px solid white;
}

.puzzles-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.empty{
    background-color: gray;
    cursor: not-allowed;
}

.good{
    background-color: green;
}

.wrong{
    background-color: red;
}