h2 {
    text-align: center;
    font-weight: 900;
}

.clickable {
    cursor: pointer;
}

.card {
    background-color: white;
    text-align: center;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    transition: color 1000ms;
}

.card-invisible {
    font-size: 3rem;
}

.card-visible {
    font-size: 1.5rem;
}