.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
}

.content{
    background-color: #181616;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header button{
    margin: 5px;
}

.questions-count {
 margin: 10px;
}

.question-view{
    margin: 10px;
}

@media screen and (max-width: 800px) {
    .header{
        display: block;
    }
}