#container-small {
    border: 5px solid white;
    background-color: #121618;
    padding: 30px; 
    width: 32%; 
    min-height: 400px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 2rem;
}

#container-large {
    border: 5px solid white;
    background-color: #121618;
    padding: 30px; 
    width: 62%;
    min-height: 400px;
    text-align: center;
}

.container {
    margin-bottom: 4rem;
}

@media screen and (max-width: 800px) {
    .content {
        flex-wrap: wrap;
    }

    #container-small {
        height: 250px;
    }

    #container-small, #container-large {
        width: 90%;
        margin-bottom: 2.5rem;
    }
}