<div [ngSwitch]="question.type">
  <div *ngSwitchCase="'true-false'">
    <small>Pytanie typu prawda-fałsz</small>
    <app-true-false [question]="question" (emitNextQuestionRequest)="handleEmitNextQuestionRequest($event)"></app-true-false>
  </div>
  <div *ngSwitchCase="'single-choice'">
    <small>Pytanie jednokrotnego wyboru</small>
    <app-single-choice [question]="question" (emitNextQuestionRequest)="handleEmitNextQuestionRequest($event)"></app-single-choice>
  </div>
  <div *ngSwitchCase="'multiple-choice'">
    <small>Pytanie wielokrotnego wyboru</small>
    <app-multiple-choice [question]="question" (emitNextQuestionRequest)="handleEmitNextQuestionRequest($event)"></app-multiple-choice>
  </div>
  <div *ngSwitchCase="'puzzle'">
    <small>Pytanie typu rozsypanka wyrazowa</small>
    <app-puzzle></app-puzzle>
  </div>
  <div *ngSwitchCase="'gaps'">
    <small>Pytanie typu uzupełnianie luk</small>
    <app-gaps></app-gaps>
  </div>
  <div *ngSwitchCase="'pairs'">
    <small>Pytanie typu łączenie w pary</small>
    <app-pairs></app-pairs>
  </div>
</div>