.wrapper{
    width: 100%;
    padding: 20px;
    min-height: 100%;
    margin-bottom: 40px;
}

.content{
    border: 5px solid white;
    background-color: #00293A;
    padding: 20px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}