<app-flashcards></app-flashcards>
<div>
  <h1>Importowanie fiszek z pliku CSV</h1>
  <div>
    <h3>Twój plik CSV powinien mieć poniższy format:</h3>
    <div>
      <h4>
        nazwa zestawu;kategoria <br />
        lewa strona fiszki;prawa strona fiszki <br />
        lewa strona fiszki;prawa strona fiszki <br />
        lewa strona fiszki;prawa strona fiszki <br />
        .....
      </h4>
      <u>Przykład:</u>
      <p>
        zwierzęta;angielski
        pies;dog <br />
        kot;cat <br />
        królik;rabbit <br />
        ryba;fish <br />
      </p>
    </div>
  </div>
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
    <label class="btn btn-default">
      Wybierz plik:
      <input type="file" (change)="selectFile($event)">
    </label>
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Dodaj fiszki!</button>
</div>
