.listItem:hover {
    background-color: rgb(206, 168, 86);
}

.listItem:active{
    background-color: #4BC7FA;
}

.listItem{
    cursor: pointer;
}

.wrapper{
    width: 100%;
    padding: 30px;
    min-height: 100%;
    margin-bottom: 40px;
}

@media screen and (max-width: 800px) {
    .mobile{
        display: none;
    }
}

.empty{
    text-align: center;
}

.content{
    background-color: #181616;
    padding: 30px; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ag-grid-angular{
    margin: 10px;
}

.buttons-container > div{
    margin: 10px;
}