<div class="wrapper">
  <div class="content">
    <app-flashcards></app-flashcards>
    <div *ngIf="user">
        <button class="btn btn-primary" (click)="ShowPublic()" >PUBLICZNE</button>
        <button class="btn btn-primary" (click)="ShowPrivate()" >PRYWATNE</button>
    </div>
    <table class="table" *ngIf="!ShowStatus">
      <tr>
        <th>NAZWA</th>
        <th class="mobile">KATEGORIA</th>
        <th class="mobile">WŁAŚCICIEL</th>
        <th class="mobile">DATA DODANIA</th>
        <th class="mobile">DATA MODYFIKACJI</th>
        <th class="mobile">OCENA</th>
      </tr>
      <tr *ngFor="let set of sets | filter:searchPublic" [class.selected]="set === selectedSet" (click)="onSelect(set)" class="listItem">
        <td class="name">{{set.name}}</td>
        <td class="category mobile">{{set.category}}</td>
        <td class="owner mobile">{{set.owner}}</td>
        <td class="add_date mobile">{{set.add_date}}</td>
        <td class="edit_date mobile">{{set.edit_date}}</td>
        <td class="grade mobile">{{set.grade}}</td>
      </tr>
      <tr *ngIf="setsEmpty">
        <td colspan="6" class="empty">BRAK MATERIAŁÓW</td>
      </tr>
    </table>
    <table class="table" *ngIf="ShowStatus">
        <tr>
        <th>NAZWA</th>
        <th class="mobile">KATEGORIA</th>
        <th class="mobile">WŁAŚCICIEL</th>
        <th class="mobile">DATA DODANIA</th>
        <th class="mobile">DATA MODYFIKACJI</th>
        <th class="mobile">OCENA</th>
        <th class="mobile">POZWOLENIE</th>
      </tr>
      <tr *ngFor="let set of sets | filterUser:searchOwner" [class.selected]="set === selectedSet" (click)="onSelect(set)" class="listItem">
        <td class="name">{{set.name}}</td>
        <td class="category mobile">{{set.category}}</td>
        <td class="owner mobile">{{set.owner}}</td>
        <td class="add_date mobile">{{set.add_date}}</td>
        <td class="edit_date mobile">{{set.edit_date}}</td>
        <td class="grade mobile">{{set.grade}}</td>
        <td class="permission mobile">{{set.permission}}</td>
      </tr>
      <tr *ngIf="setsEmpty">
        <td colspan="6" class="empty">BRAK MATERIAŁÓW</td>
      </tr>
    </table>
    <div *ngIf="selectedSet">
    </div>
  </div>
</div>