<div class="wrapper">
  <div class="content">
    <app-flashcards></app-flashcards>
    <div class="buttons-container">
        <div>
          <button class="btn btn-success" (click)="toFlashcardsMaker()">Dodaj fiszki</button>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-primary active" (click)="ShowPublic()">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Publiczne
          </label>
          <label *ngIf="logged" class="btn btn-primary" (click)="ShowPrivate()">
            <input type="radio" name="options" id="option2" autocomplete="off"> Prywatne
          </label>
        </div>
      </div>
    <h1>FISZKI</h1>
    <ag-grid-angular style="width: 100%; height: 475px;" class="ag-theme-blue" [rowData]="sets" [columnDefs]="columnDefs" [enableSorting]="true"
    [enableFilter]="true" (gridReady)="onGridReady($event)" (gridSizeChanged)="onGridSizeChanged($event)" [gridOptions]="gridOptions"
    [pagination]="true" [paginationAutoPageSize]="true" (rowClicked)="onRowClicked($event)" [localeText]="localeText" 
    (gridColumnsChanged)="onGidColumnsChanged($event)">
  </ag-grid-angular>


  </div>
</div>